Repository dataforgoodfr/13_empreinte_souffrance: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, backend-tests, frontend-tests

.pre-commit-config.yaml:

default_stages: ['pre-commit']
fail_fast: false

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Backend hooks
  # Ruff (as linter, formatter and import organizer)
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff-format
        args: ["--line-length=120"]
        files: ^backend/.*\.py$
      - id: ruff
        args: ["--fix", "--line-length=120", "--select=E,F,I"]
        files: ^backend/.*\.py$

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        files: ^backend/.*\.py$
        additional_dependencies:
          - fastapi
          - pydantic
          - types-requests

  # Frontend hooks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.23.0
    hooks:
      - id: eslint
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        additional_dependencies:
          - eslint@9.23.0
          - eslint-plugin-react@7.33.2
          - eslint-plugin-react-hooks@4.6.0
          - eslint-config-next@13.4.19
          - typescript@5.1.6
          - '@typescript-eslint/eslint-plugin@6.4.0'
          - '@typescript-eslint/parser@6.4.0'
        args:
          - --fix
          - --config
          - frontend/eslint.config.mjs

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix frontend run format "${@#*/}"' --

  # Tests hooks
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend tests
        entry: bash -c "cd backend && uv run pytest -xvs"
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: ['pre-push']

      - id: frontend-tests
        name: Frontend tests
        entry: bash -c "cd frontend && npm test -- --passWithNoTests"
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        stages: ['pre-push']

fix/data path for extract_off_eggs and get caliber in computer
  analysis/scripts/compute_from_db_calculator_and_OCR.ipynb
  backend/app/scripts/extract_off_eggs.py
Due: backend-tests

feature(header): change menu and font declaration
  frontend/app/[locale]/layout.tsx
  frontend/app/[locale]/ui/_components/BurgerMenu.tsx
  frontend/app/[locale]/ui/_components/localselect.tsx
  frontend/app/[locale]/ui/_components/logo-walfare-footprint.tsx
  frontend/app/[locale]/ui/_components/nav-links.tsx
  frontend/app/[locale]/ui/_hooks/useLangSuffix.ts
  frontend/app/[locale]/ui/_sections/navbar.tsx
  frontend/app/[locale]/ui/_utils/matchPath.test.ts
  frontend/app/[locale]/ui/_utils/matchPath.ts
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/tailwind.config.ts
  frontend/eslint.config.mjs
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: app-prettier, frontend-tests

feature(header): add globals package
  frontend/package-lock.json
  frontend/package.json
Due: app-prettier

add readme
  backend/app/scripts/README.md
  backend/app/scripts/README_FR.md
Due: none

feat/add script to process extracted off products with PainReportCalculator and OCR results
  backend/app/scripts/README.md
  backend/app/scripts/README_FR.md
  backend/app/scripts/process_product_data.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-tests

feat/parse categories tags and product name to get caliber before getting egg count
  backend/app/business/open_food_facts/egg_quantity_calculator.py
Due: backend-tests

fix: merge conflict in conftest
  backend/tests/conftest.py
Due: backend-tests

search pattern also in quantity field
  backend/app/business/open_food_facts/egg_quantity_calculator.py
Due: backend-tests

update readme_fr
  backend/app/scripts/README_FR.md
Due: none

enhance caliber regex
  backend/app/business/open_food_facts/egg_quantity_calculator.py
Due: backend-tests

Feat/update header (#192)
  frontend/app/[locale]/layout.tsx
  frontend/app/[locale]/ui/_components/BurgerMenu.tsx
  frontend/app/[locale]/ui/_components/localselect.tsx
  frontend/app/[locale]/ui/_components/logo-walfare-footprint.tsx
  frontend/app/[locale]/ui/_components/nav-links.tsx
  frontend/app/[locale]/ui/_hooks/useLangSuffix.ts
  frontend/app/[locale]/ui/_sections/navbar.tsx
  frontend/app/[locale]/ui/_utils/matchPath.test.ts
  frontend/app/[locale]/ui/_utils/matchPath.ts
  frontend/app/[locale]/ui/logo/EmpreinteSouffrance.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/tailwind.config.ts
  frontend/eslint.config.mjs
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/package-lock.json
  frontend/package.json
Due: app-prettier, frontend-tests

adapted quantity tests
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

fix: migration to uv; feature: pushing to hugging face
  .gitignore
  analysis/neural_category_predictions/01_task_generate_datasets_from_diff_models/main.py
  analysis/neural_category_predictions/01_task_generate_datasets_from_diff_models/poetry.lock
  analysis/neural_category_predictions/01_task_generate_datasets_from_diff_models/pyproject.toml
  analysis/neural_category_predictions/01_task_generate_datasets_from_diff_models/uv.lock
  analysis/neural_category_predictions/02_task_classification_model/README.md
  analysis/neural_category_predictions/02_task_classification_model/config.yaml
  analysis/neural_category_predictions/02_task_classification_model/main.py
  analysis/neural_category_predictions/02_task_classification_model/model_manager.py
  analysis/neural_category_predictions/02_task_classification_model/model_test.py
  analysis/neural_category_predictions/02_task_classification_model/poetry.lock
  analysis/neural_category_predictions/02_task_classification_model/pyproject.toml
  analysis/neural_category_predictions/02_task_classification_model/uv.lock
  analysis/neural_category_predictions/data/synthetic_barn_ocr.csv
Due: none

feat: updated readme
  .gitignore
  analysis/neural_category_predictions/02_task_classification_model/README.md
  analysis/neural_category_predictions/02_task_classification_model/model_manager.py
  analysis/neural_category_predictions/02_task_classification_model/model_test.py
  analysis/neural_category_predictions/02_task_classification_model/saved_model/README.md
  frontend/app/[locale]/about/_sections/association-presentation-section.tsx
  frontend/app/[locale]/about/_sections/thanking_section.tsx
  frontend/app/[locale]/about/_sections/why_name_section.tsx
  frontend/app/[locale]/calculator/_components/calculator-select-item.tsx
  frontend/app/[locale]/calculator/_sections/calculator-hero-section.tsx
  frontend/app/[locale]/calculator/_sections/calculator-link-section.tsx
  frontend/app/[locale]/calculator/_sections/calculator-selector-section.tsx
  frontend/app/[locale]/calculator/page.tsx
  frontend/app/[locale]/home/_sections/hero-section.tsx
  frontend/app/[locale]/methodology/_components/list-of-affition.tsx
  frontend/app/[locale]/methodology/_components/suffering-synthesis-duration-rows.tsx
  frontend/app/[locale]/methodology/_components/suffering-synthesis-duration-table.tsx
  frontend/app/[locale]/off/knowledge_panel.css
  frontend/app/[locale]/off/page.tsx
  frontend/app/[locale]/ui/_components/BoltIcon.tsx
  frontend/app/[locale]/ui/_components/heroBanner.tsx
  frontend/app/[locale]/ui/_components/localselect.tsx
  frontend/app/[locale]/ui/_components/logo-walfare-footprint.tsx
  frontend/app/[locale]/ui/_components/nav-links.tsx
  frontend/app/[locale]/ui/_components/suffering-stages-description.tsx
  frontend/app/globals.css
  frontend/locales/fr.ts
Due: frontend-tests

fix test
  backend/app/business/open_food_facts/unit_pain_loader.py
Due: backend-tests

update docstring for UnitPainLoader
  backend/app/business/open_food_facts/unit_pain_loader.py
Due: backend-tests

compute full EggQuantity with unit pain per egg in pain report calculator
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/schemas/open_food_facts/internal.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

fix merge
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

reset docstring
  backend/app/business/open_food_facts/pain_report_calculator.py
Due: backend-tests

fix ProductQuantity
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
Due: backend-tests

remove time_in_pain as a dictionnary from enums
  backend/app/enums/open_food_facts/enums.py
Due: backend-tests

fix calculate_time_in_pain_for_animal_with_type
  backend/app/business/open_food_facts/pain_report_calculator.py
Due: backend-tests

fix casting breeding type and quantity before computing pain
  backend/app/business/open_food_facts/pain_report_calculator.py
Due: backend-tests

fix quantity calculator docstring
  backend/app/business/open_food_facts/quantity_calculator.py
Due: backend-tests

fix test_get_breeding_types_and_quantities
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

Feat/compute pain from egg count and caliber (#189)
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/schemas/open_food_facts/internal.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

fix english time messages
  backend/app/locales/en/LC_MESSAGES/messages.po
Due: none

fix english time messages (#194)
  backend/app/locales/en/LC_MESSAGES/messages.po
Due: none

feat/add specific display for eggs in knowledge panel with number and caliber
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/enums/open_food_facts/panel_texts.py
  backend/app/locales/en/LC_MESSAGES/messages.po
  backend/app/locales/fr/LC_MESSAGES/messages.po
Due: backend-tests

fix/add barcodes to test page
  frontend/app/[locale]/off/page.tsx
Due: frontend-tests

add docstring
  backend/app/business/open_food_facts/knowledge_panel.py
Due: backend-tests

Feat/display egg number in knowledge panel (#196)
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/enums/open_food_facts/panel_texts.py
  backend/app/locales/en/LC_MESSAGES/messages.po
  backend/app/locales/fr/LC_MESSAGES/messages.po
  frontend/app/[locale]/off/page.tsx
Due: backend-tests, frontend-tests

delete notebook outputs and change max size to 20 MO for .csv and .jsonl
  .pre-commit-config.yaml
  analysis/README.md
  analysis/README_FR.md
  analysis/scripts/compute_from_db_calculator_and_OCR.ipynb
  analysis/scripts/parquet_db_to_csv.ipynb
Due: none

download parquet from OFF database before extracting new csv file
  .gitignore
  analysis/scripts/250614_13_es_parquet_db_to_csv.ipynb
  analysis/scripts/compute_from_db_calculator_and_OCR.ipynb
  analysis/scripts/export_computed_data_to_excel.ipynb
  analysis/scripts/parquet_db_to_csv.ipynb
Due: none
