Repository dataforgoodfr/13_empreinte_souffrance: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, backend-tests, frontend-tests

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix frontend run format "${@#*/}"'' --
  
    '

backend-tests:
  name: Backend tests
  entry: bash -c "cd backend && uv run pytest -xvs"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-tests:
  name: Frontend tests
  entry: bash -c "cd frontend && npm test -- --passWithNoTests"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Update to next.js 15.2.4
  frontend/package-lock.json
  frontend/package.json
Due: app-prettier

Create a footer including icons (font awesome)
  frontend/app/[locale]/layout.tsx
  frontend/app/[locale]/ui/general/footer.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/package-lock.json
  frontend/package.json
Due: app-prettier, frontend-tests

Add product name and image
  .github/workflows/backend-pre-commit.yaml
  .pre-commit-config.yaml
  backend/app/api/open_food_facts/routes.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/config/i18n.py
  backend/app/schemas/open_food_facts/external.py
  backend/app/schemas/open_food_facts/internal.py
  frontend/.eslintrc.js
  frontend/app/[locale]/off/knowledge_panel.css
  frontend/app/[locale]/off/page.tsx
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
Due: app-prettier, backend-tests, frontend-tests

Use the website locale in the off page
  frontend/app/[locale]/off/page.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

Fix CI
  .pre-commit-config.yaml
  backend/app/locales/en/LC_MESSAGES/messages.po
  backend/app/locales/fr/LC_MESSAGES/messages.po
  backend/pyproject.toml
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
  backend/uv.lock
  frontend/.eslintrc.js
  frontend/app/[locale]/off/page.tsx
  frontend/eslint.config.mjs
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/package-lock.json
  frontend/package.json
Due: app-prettier, backend-tests, frontend-tests

removing dark color scheme as dark mode is not managed
  frontend/app/[locale]/globals.css
Due: none

Create a Not Found page
  frontend/app/[locale]/layout.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/not-found.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

add error page to catch unexpected errors
  frontend/app/error.tsx
Due: frontend-tests

add test for error page
  frontend/__tests__/error-page.test.tsx
  frontend/jest.config.ts
Due: frontend-tests

prevent error related to locale for prerendering of not found page
  frontend/app/layout.tsx
Due: frontend-tests

removing hard coded styles for testing purposes
  frontend/app/error.tsx
Due: frontend-tests

Display the product image and name in the OFF demo page (#36)
  .github/workflows/backend-pre-commit.yaml
  .pre-commit-config.yaml
  backend/app/api/open_food_facts/routes.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/config/i18n.py
  backend/app/locales/en/LC_MESSAGES/messages.po
  backend/app/locales/fr/LC_MESSAGES/messages.po
  backend/app/schemas/open_food_facts/external.py
  backend/app/schemas/open_food_facts/internal.py
  backend/pyproject.toml
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
  backend/uv.lock
  frontend/app/[locale]/globals.css
  frontend/app/[locale]/off/knowledge_panel.css
  frontend/app/[locale]/off/page.tsx
  frontend/eslint.config.mjs
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
Due: app-prettier, backend-tests, frontend-tests

removing hard coded styles for testing purposes
  frontend/app/not-found.tsx
Due: frontend-tests

style improvement for error page
  frontend/app/error.tsx
Due: frontend-tests

remove test placeholder
  frontend/__tests__/toBeRenamed.test.tsx
Due: frontend-tests

remove translation in not found page to fix build
  frontend/app/not-found.tsx
Due: frontend-tests

run prettier and remove console.error to allow build
  frontend/app/error.tsx
  frontend/app/globals.css
Due: frontend-tests

remove unused variable (error) from error page
  frontend/__tests__/error-page.test.tsx
  frontend/app/error.tsx
Due: frontend-tests

Remove unused translations
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

rebase Main
  frontend/app/[locale]/layout.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/not-found.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

run prettier and remove console.error to allow build
  frontend/app/error.tsx
Due: frontend-tests

fix font color in not found page and remove useless import
  frontend/app/[locale]/layout.tsx
  frontend/app/not-found.tsx
Due: frontend-tests

Feature/error page and not found page (#37)
  frontend/__tests__/error-page.test.tsx
  frontend/__tests__/toBeRenamed.test.tsx
  frontend/app/[locale]/layout.tsx
  frontend/app/error.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/not-found.tsx
  frontend/jest.config.ts
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

changed product data base model to include weight related fields
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/schemas/open_food_facts/external.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

changed product data base model to include weight related fields
  backend/tests/conftest.py
Due: backend-tests

added mock product data and changed tests
  backend/tests/app/business/open_food_facts/mocks.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

removed print ;)
  backend/app/business/open_food_facts/knowledge_panel.py
Due: backend-tests

added mock product data to tests
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

Fix exclusion
  scripts/taxonomy/output/search_terms.json
  scripts/taxonomy/output/taxonomy_report.txt
  scripts/taxonomy/search_taxonomies.py
Due: app-prettier

Remove file: your-file
  backend/tests/app/business/open_food_facts/mocks.py
Due: backend-tests

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
