Repository dataforgoodfr/13_empreinte_souffrance: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, backend-tests, frontend-tests

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix frontend run format "${@#*/}"'' --
  
    '

backend-tests:
  name: Backend tests
  entry: bash -c "cd backend && uv run pytest -xvs"
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend tests
  entry: bash -c "cd frontend && npm test -- --passWithNoTests"
  language: system
  pass_filenames: false
  stages:
  - pre-push

Open Donate page in a new tab
  frontend/app/[locale]/ui/_sections/footer.tsx
Due: frontend-tests

Open Donate page in a new tab (#217)
  frontend/app/[locale]/ui/_sections/footer.tsx
Due: frontend-tests

update database scripts to manage categories tags replacement
  backend/app/scripts/export_computed_data_to_excel.py
  backend/app/scripts/update_off_product_data.py
Due: backend-tests

update README
  backend/app/scripts/README.md
  backend/app/scripts/README_FR.md
  backend/app/scripts/update_off_product_data.py
Due: backend-tests

fixes
  backend/app/scripts/README.md
  backend/app/scripts/README_FR.md
  backend/app/scripts/update_off_product_data.py
Due: backend-tests

Update database scripts to manage categories tags replacement (#218)
  backend/app/scripts/README.md
  backend/app/scripts/README_FR.md
  backend/app/scripts/export_computed_data_to_excel.py
  backend/app/scripts/update_off_product_data.py
Due: backend-tests

round calculator results
  frontend/app/[locale]/calculator/_components/calculator-select-item.tsx
Due: frontend-tests

lock python version as 3.13
  backend/pyproject.toml
  backend/uv.lock
Due: none

lock python version as 3.13 (#222)
  backend/pyproject.toml
  backend/uv.lock
Due: none

change top panel from main to root in knowledge panel
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/enums/open_food_facts/panel_texts.py
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  frontend/app/[locale]/off/page.tsx
Due: backend-tests, frontend-tests

change top panel from main to root in knowledge panel (#221)
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/enums/open_food_facts/panel_texts.py
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  frontend/app/[locale]/off/page.tsx
Due: backend-tests, frontend-tests

cleaning CSS variable, using tailwind theme variable, automatique text-sizing
  frontend/app/[locale]/methodology/_sections/introduction-section.tsx
  frontend/app/[locale]/ui/generique-component.tsx
  frontend/app/globals.css
Due: frontend-tests

fixing introductio-section style properties
  frontend/app/[locale]/methodology/_sections/introduction-section.tsx
  frontend/app/globals.css
  frontend/public/welfare-footprint-logo.png
Due: frontend-tests

fixing section title, herobanner composent seems not uses
  frontend/app/[locale]/ui/_components/heroBanner.tsx
  frontend/app/[locale]/ui/_sections/section-heading.tsx
  frontend/app/globals.css
Due: frontend-tests

simplifiying component and css maj
  frontend/app/[locale]/methodology/_sections/suffering-quantification-steps-section.tsx
  frontend/app/[locale]/ui/_components/suffering-stages-description.tsx
  frontend/app/globals.css
Due: frontend-tests

doc: add diagram
  cicd/diagram.svg
Due: none

cicd: change to lheuredescomptes.org
  .github/workflows/deploy.yaml
  docker-compose.prod.yaml
  docker-compose.yaml
  package.json
Due: app-prettier

cicd: add infra files
  .github/workflows/deploy.yaml
  cicd/diagram.png
  cicd/diagram.svg
  cicd/infrastructure/ansible/README.md
  cicd/infrastructure/ansible/credentials/.gitkeep
  cicd/infrastructure/ansible/inventory.yaml
  cicd/infrastructure/ansible/playbooks/initJoinSwarm.yaml
  cicd/infrastructure/ansible/playbooks/installDocker.yaml
  cicd/infrastructure/ansible/playbooks/runDockerRepositoryWithCerts.yaml
  cicd/infrastructure/ansible/requirements.txt
  cicd/infrastructure/traefik/docker-compose.yaml
Due: none

mock knowledge panel
  .pre-commit-config.yaml
  backend/app/api/open_food_facts/routes.py
  backend/app/business/open_food_facts/data/knowledge_panel_project.json
  backend/app/business/open_food_facts/data/knowledge_panels.json
  backend/app/business/open_food_facts/knowledge_panel.py
Due: app-prettier, backend-tests

cicd: add docker and infra files
  .github/workflows/deploy.yaml
  backend/Dockerfile
  cicd/diagram.png
  cicd/infrastructure/ansible/README.md
  cicd/infrastructure/ansible/credentials/.gitkeep
  cicd/infrastructure/ansible/inventory.yaml
  cicd/infrastructure/ansible/playbooks/initJoinSwarm.yaml
  cicd/infrastructure/ansible/playbooks/installDocker.yaml
  cicd/infrastructure/ansible/playbooks/runDockerRepositoryWithCerts.yaml
  cicd/infrastructure/ansible/requirements.txt
  cicd/infrastructure/traefik/docker-compose.yaml
  docker-compose.override.yaml
  docker-compose.prod.yaml
  docker-compose.yaml
  frontend/Dockerfile
  package.json
Due: app-prettier

backend: add httpx dependency
  backend/pyproject.toml
Due: none

round calculator results (#219)
  frontend/app/[locale]/calculator/_components/calculator-select-item.tsx
Due: frontend-tests

modifing suffering-steps-section
  frontend/app/[locale]/methodology/_components/suffering-synthesis-duration-rows.tsx
  frontend/app/[locale]/methodology/_components/suffering-synthesis-duration-table.tsx
  frontend/app/[locale]/methodology/_sections/suffering-quantification-steps-section.tsx
  frontend/app/[locale]/ui/_components/suffering-stages-description.tsx
  frontend/app/globals.css
Due: frontend-tests

Component fragmentation method in 3 steps. Component renaming. Element rearrangement. CSS correction.
  frontend/app/[locale]/home/_sections/pain-equation-section.tsx
  frontend/app/[locale]/methodology/_components/animated-afflictions.tsx
  frontend/app/[locale]/methodology/_components/global-suffering-figure.tsx
  frontend/app/[locale]/methodology/_components/pain-track-table.tsx
  frontend/app/[locale]/methodology/_components/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/methodology/_components/step-column-header.tsx
  frontend/app/[locale]/methodology/_components/step-one-affliction-list.tsx
  frontend/app/[locale]/methodology/_components/step-three-suffering-summary.tsx
  frontend/app/[locale]/methodology/_components/step-two-suffering-quantification.tsx
  frontend/app/[locale]/methodology/_components/suffering-scales-description.tsx
  frontend/app/[locale]/methodology/_components/suffering-scales.tsx
  frontend/app/[locale]/methodology/_components/suffering-synthesis-duration-rows.tsx
  frontend/app/[locale]/methodology/_components/suffering-synthesis-duration-table.tsx
  frontend/app/[locale]/methodology/_sections/key-results-section.tsx
  frontend/app/[locale]/methodology/_sections/method-details-section.tsx
  frontend/app/[locale]/methodology/_sections/suffering-quantification-steps-section.tsx
  frontend/app/[locale]/methodology/_sections/three-steps-method-section.tsx
  frontend/app/[locale]/methodology/page.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/tsconfig.json
Due: app-prettier, frontend-tests

Minor naming and traduction correction.
  frontend/app/[locale]/methodology/_components/suffering-scales-description.tsx
  frontend/app/[locale]/methodology/page.tsx
  frontend/locales/fr.ts
Due: frontend-tests

Fix/css maj (#230)
  frontend/app/[locale]/home/_sections/pain-equation-section.tsx
  frontend/app/[locale]/methodology/_components/animated-afflictions.tsx
  frontend/app/[locale]/methodology/_components/global-suffering-figure.tsx
  frontend/app/[locale]/methodology/_components/pain-track-table.tsx
  frontend/app/[locale]/methodology/_components/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/methodology/_components/step-column-header.tsx
  frontend/app/[locale]/methodology/_components/step-one-affliction-list.tsx
  frontend/app/[locale]/methodology/_components/step-three-suffering-summary.tsx
  frontend/app/[locale]/methodology/_components/step-two-suffering-quantification.tsx
  frontend/app/[locale]/methodology/_components/suffering-scales-description.tsx
  frontend/app/[locale]/methodology/_components/suffering-scales.tsx
  frontend/app/[locale]/methodology/_components/suffering-synthesis-duration-rows.tsx
  frontend/app/[locale]/methodology/_components/suffering-synthesis-duration-table.tsx
  frontend/app/[locale]/methodology/_sections/introduction-section.tsx
  frontend/app/[locale]/methodology/_sections/key-results-section.tsx
  frontend/app/[locale]/methodology/_sections/method-details-section.tsx
  frontend/app/[locale]/methodology/_sections/suffering-quantification-steps-section.tsx
  frontend/app/[locale]/methodology/_sections/three-steps-method-section.tsx
  frontend/app/[locale]/methodology/page.tsx
  frontend/app/[locale]/ui/_components/heroBanner.tsx
  frontend/app/[locale]/ui/_sections/section-heading.tsx
  frontend/app/[locale]/ui/generique-component.tsx
  frontend/app/globals.css
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/public/welfare-footprint-logo.png
  frontend/tsconfig.json
Due: app-prettier, frontend-tests

"responsive html"
  backend/app/business/open_food_facts/data/knowledge_panel.html
  backend/app/business/open_food_facts/data/knowledge_panel_project.json
Due: app-prettier

modifying go further section
  frontend/app/[locale]/ui/_components/button-link.tsx
  frontend/app/[locale]/ui/_sections/go-further-section.tsx
  frontend/app/globals.css
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/public/free-hen-icon.png
Due: frontend-tests

fix key result section for style and traduction
  frontend/app/[locale]/methodology/_sections/key-results-section.tsx
  frontend/app/globals.css
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

fix change on button-link component
  frontend/app/[locale]/ui/_components/button-link.tsx
Due: frontend-tests

fix key result section for style and traduction (#232)
  frontend/app/[locale]/methodology/_sections/key-results-section.tsx
  frontend/app/globals.css
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

change to vertical alignment and restrict to one information panel
  backend/app/business/open_food_facts/data/knowledge_panel.html
  backend/app/business/open_food_facts/data/knowledge_panel_project.json
Due: app-prettier

ongoing progress section
  frontend/app/[locale]/home/_components/content-with-image-component.tsx
  frontend/app/[locale]/home/_sections/progress-section.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/layout.tsx
  frontend/public/progress_bakery.jpg
  frontend/public/progress_bluegraph.png
  frontend/public/progress_redgraph.png
Due: frontend-tests

link alignment
  frontend/app/[locale]/home/_components/content-with-image-component.tsx
Due: frontend-tests

version 1+2
  backend/app/business/open_food_facts/data/knowledge_panel.html
  backend/app/business/open_food_facts/data/knowledge_panel_project.json
Due: app-prettier

wip
  backend/app/business/open_food_facts/data/knowledge_panel.html
  backend/app/business/open_food_facts/data/knowledge_panel_project.json
Due: app-prettier

add half bars egg icon
  frontend/app/[locale]/home/_sections/progress-section.tsx
  frontend/public/half-bars_egg.svg
Due: frontend-tests

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
