Repository dataforgoodfr/13_empreinte_souffrance: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, backend-tests, frontend-tests

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix frontend run format "${@#*/}"'' --
  
    '

backend-tests:
  name: Backend tests
  entry: bash -c "cd backend && uv run pytest -xvs"
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend tests
  entry: bash -c "cd frontend && npm test -- --passWithNoTests"
  language: system
  pass_filenames: false
  stages:
  - pre-push

used fixture in tests
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

Add temporary script for basic egg weight calculation
  scripts/weight_calculator.py
Due: none

Add changes
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/locales/en/LC_MESSAGES/messages.po
  backend/app/locales/fr/LC_MESSAGES/messages.po
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

migrated to v3 and integrated the weight calculator script
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/schemas/open_food_facts/external.py
  backend/app/schemas/open_food_facts/internal.py
  backend/app/scripts/add_properties_to_folksonomy.py
  backend/app/scripts/es_properties_for_folksonomy.csv
  backend/app/scripts/weight_calculator.py
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  frontend/app/[locale]/layout.tsx
  scripts/retrieve_laying_hens_fr_data.py
  scripts/weight_calculator.py
Due: backend-tests, frontend-tests

Apply Axelle’s feedback to the knowledge panel (#41)
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/locales/en/LC_MESSAGES/messages.po
  backend/app/locales/fr/LC_MESSAGES/messages.po
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

migrated to v3 and integrated the weight calculator script
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/schemas/open_food_facts/external.py
  backend/app/schemas/open_food_facts/internal.py
  backend/app/scripts/add_properties_to_folksonomy.py
  backend/app/scripts/es_properties_for_folksonomy.csv
  backend/app/scripts/retrieve_laying_hens_fr_data.py
  backend/app/scripts/weight_calculator.py
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  frontend/app/[locale]/layout.tsx
  scripts/weight_calculator.py
Due: backend-tests, frontend-tests

Add modularity and some fixes
  .github/workflows/backend-pre-commit.yaml
  backend/app/business/open_food_facts/egg_weight_calculator.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/schemas/open_food_facts/external.py
  backend/app/scripts/weight_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

Use floats for product quantities
  backend/app/business/open_food_facts/egg_weight_calculator.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/schemas/open_food_facts/external.py
Due: backend-tests

Add the egg weight calculator (#39)
  .github/workflows/backend-pre-commit.yaml
  backend/app/business/open_food_facts/egg_weight_calculator.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/schemas/open_food_facts/external.py
  backend/app/schemas/open_food_facts/internal.py
  backend/app/scripts/add_properties_to_folksonomy.py
  backend/app/scripts/es_properties_for_folksonomy.csv
  backend/app/scripts/retrieve_laying_hens_fr_data.py
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
  frontend/app/[locale]/layout.tsx
Due: backend-tests, frontend-tests

Update backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/business/open_food_facts/pain_report_calculator.py
Due: backend-tests

gets breeding type from categories_tags and cage type from countries_tags
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/enums/open_food_facts/enums.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
  frontend/app/[locale]/off/page.tsx
Due: backend-tests, frontend-tests

Fix tests
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

Restore 'en:organic-eggs' for free-range breeeding to class TAGS_BY_ANIMAL_TYPE_AND_BREEDING_TYPE
  backend/app/enums/open_food_facts/enums.py
Due: backend-tests

gets breeding type from categories_tags and cage type from countries_… (#42)
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/enums/open_food_facts/enums.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  frontend/app/[locale]/off/page.tsx
Due: backend-tests, frontend-tests

create sections for the new home page
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/ui/general/home-page/WFI-section.tsx
  frontend/app/[locale]/ui/general/home-page/book-announcement-section.tsx
  frontend/app/[locale]/ui/general/home-page/call-to-action-section.tsx
  frontend/app/[locale]/ui/general/home-page/hero-section.tsx
  frontend/app/[locale]/ui/general/home-page/human-food-section.tsx
  frontend/app/[locale]/ui/general/home-page/methodology-section.tsx
  frontend/app/[locale]/ui/general/home-page/pain-equation-section.tsx
  frontend/app/[locale]/ui/general/home-page/results-section.tsx
  frontend/app/[locale]/ui/general/home-page/suffering-causes-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

feat: improve weight calculation
  backend/app/business/open_food_facts/egg_weight_calculator.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/schemas/open_food_facts/external.py
  backend/tests/conftest.py
Due: backend-tests

chore: fix mypy for script file
  backend/app/scripts/retrieve_laying_hens_fr_data.py
Due: backend-tests

create sections for the new home page (#46)
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/ui/general/home-page/WFI-section.tsx
  frontend/app/[locale]/ui/general/home-page/book-announcement-section.tsx
  frontend/app/[locale]/ui/general/home-page/call-to-action-section.tsx
  frontend/app/[locale]/ui/general/home-page/hero-section.tsx
  frontend/app/[locale]/ui/general/home-page/human-food-section.tsx
  frontend/app/[locale]/ui/general/home-page/methodology-section.tsx
  frontend/app/[locale]/ui/general/home-page/pain-equation-section.tsx
  frontend/app/[locale]/ui/general/home-page/results-section.tsx
  frontend/app/[locale]/ui/general/home-page/suffering-causes-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

fix: changes according to the PR review
  backend/app/business/open_food_facts/egg_weight_calculator.py
Due: backend-tests

Fix tests
  backend/tests/conftest.py
Due: backend-tests

gets breeding type from categories_tags and cage type from countries_tags
  backend/tests/conftest.py
Due: backend-tests

Create BreedingTypeCalculator - Detects breeding type by applying regex across tags
  backend/app/business/open_food_facts/breeding_type_calculator.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/enums/open_food_facts/breeding_type_enums.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/schemas/open_food_facts/external.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

added diagram of the breeding type identification algorithm and statistics
  analysis/breeding_type_identification_algo_and_stats.pptx
Due: none

temporary workaround: check product is animal type before determining breeding type
  backend/app/business/open_food_facts/breeding_type_calculator.py
  backend/app/enums/open_food_facts/enums.py
  backend/tests/conftest.py
Due: backend-tests

Update backend/app/business/open_food_facts/breeding_type_calculator.py
  backend/app/business/open_food_facts/breeding_type_calculator.py
Due: backend-tests

add get_all_patterns() method to BreedingPatternsRepository
  backend/app/business/open_food_facts/breeding_type_calculator.py
Due: backend-tests

Feature/add breeding type identification for laying hens use all tags (#48)
  analysis/breeding_type_identification_algo_and_stats.pptx
  backend/app/business/open_food_facts/breeding_type_calculator.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/enums/open_food_facts/breeding_type_enums.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/schemas/open_food_facts/external.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

feat: improve weight calculation
  backend/app/business/open_food_facts/egg_weight_calculator.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/schemas/open_food_facts/external.py
  backend/tests/conftest.py
Due: backend-tests

add tests
  backend/README_FR.md
  backend/app/schemas/open_food_facts/external.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

Fix mypy
  backend/README_FR.md
  backend/app/schemas/open_food_facts/external.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

Improve coverage of the weight detection (#47)
  backend/app/business/open_food_facts/egg_weight_calculator.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/schemas/open_food_facts/external.py
  backend/app/scripts/retrieve_laying_hens_fr_data.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

go further section
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/ui/general/home-page/go-further-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

add server side actions (not functional) for get-further section + background color for whole body
  frontend/app/[locale]/ui/general/home-page/go-further-section.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
Due: frontend-tests

Try to fix check types pipeline
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/ui/general/home-page/go-further-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/tsconfig.json
Due: app-prettier, frontend-tests

Try to fix check types pipeline
  .github/workflows/frontend-tests.yaml
Due: none

Results section for scrolling homepage
  frontend/app/[locale]/ui/general/content-with-image-section.tsx
  frontend/app/[locale]/ui/general/home-page/results-section.tsx
  frontend/app/[locale]/ui/icons/BoltIcon.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/public/agony.PNG
  frontend/public/cage_figure.PNG
  frontend/public/discomfort.PNG
  frontend/public/suffering_reduction.PNG
Due: frontend-tests

Remove old unused components to fix pipeline check
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/act-now/page.tsx
  frontend/app/[locale]/chicken-life/page.tsx
  frontend/app/[locale]/figures/page.tsx
  frontend/app/[locale]/science/page.tsx
Due: frontend-tests

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
