Repository dataforgoodfr/13_empreinte_souffrance: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, backend-tests, frontend-tests

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix frontend run format "${@#*/}"'' --
  
    '

backend-tests:
  name: Backend tests
  entry: bash -c "cd backend && uv run pytest -xvs"
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend tests
  entry: bash -c "cd frontend && npm test -- --passWithNoTests"
  language: system
  pass_filenames: false
  stages:
  - pre-push

cicd: deploy backend
  backend/Dockerfile
Due: none

fix background and font color in pain-track table
  frontend/app/[locale]/methodology/_components/pain-track-suffering.tsx
Due: frontend-tests

update light text color with lightest pink variable.
  frontend/app/globals.css
Due: none

modif mails
  frontend/app/[locale]/ui/_sections/footer.tsx
Due: frontend-tests

update light text color with lightest pink variable. (#206)
  frontend/app/globals.css
Due: none

fix background and font color in pain-track table (#205)
  frontend/app/[locale]/methodology/_components/pain-track-suffering.tsx
Due: frontend-tests

fix: backend language
  backend/Dockerfile
  docker-compose.override.yaml
  package.json
Due: app-prettier

Fix footer (#203)
  frontend/app/[locale]/ui/_sections/footer.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

add ES logos
  frontend/public/logo_ES_alpha.svg
  frontend/public/logo_ES_white_circle.svg
Due: none

add ES logos (#209)
  frontend/public/logo_ES_alpha.svg
  frontend/public/logo_ES_white_circle.svg
Due: none

fix building of detailed panels in knowledge panel
  backend/app/business/open_food_facts/knowledge_panel.py
Due: backend-tests

fix tests
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

Fix/detailed panels building in knowledge panel (#210)
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

feat/parse categories tags and product name to get caliber before getting egg count
  backend/app/business/open_food_facts/egg_quantity_calculator.py
Due: backend-tests

search pattern also in quantity field
  backend/app/business/open_food_facts/egg_quantity_calculator.py
Due: backend-tests

enhance caliber regex
  backend/app/business/open_food_facts/egg_quantity_calculator.py
Due: backend-tests

adapted quantity tests
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

Feat/parse egg calibers distinctly from egg count (#211)
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

delete notebook outputs and change max size to 20 MO for .csv and .jsonl
  .pre-commit-config.yaml
  analysis/README.md
  analysis/README_FR.md
  analysis/scripts/compute_from_db_calculator_and_OCR.ipynb
  analysis/scripts/parquet_db_to_csv.ipynb
Due: none

download parquet from OFF database before extracting new csv file
  .gitignore
  analysis/scripts/250614_13_es_parquet_db_to_csv.ipynb
  analysis/scripts/compute_from_db_calculator_and_OCR.ipynb
  analysis/scripts/export_computed_data_to_excel.ipynb
  analysis/scripts/parquet_db_to_csv.ipynb
Due: none

fix/data path for extract_off_eggs and get caliber in computer
  analysis/scripts/compute_from_db_calculator_and_OCR.ipynb
  backend/app/scripts/extract_off_eggs.py
Due: backend-tests

add readme
  backend/app/scripts/README.md
  backend/app/scripts/README_FR.md
Due: none

remove notebooks
  analysis/README.md
  analysis/README_FR.md
  analysis/scripts/compute_from_db_calculator_and_OCR.ipynb
  analysis/scripts/export_computed_data_to_excel.ipynb
  analysis/scripts/parquet_db_to_csv.ipynb
Due: none

add data exporter to excel
  analysis/scripts/export_computed_data_to_excel.ipynb
  backend/app/scripts/export_computed_data_to_excel.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-tests

update readme_fr
  backend/app/scripts/README_FR.md
Due: none

feat/add script to process extracted off products with PainReportCalculator and OCR results
  backend/app/scripts/README.md
  backend/app/scripts/README_FR.md
  backend/app/scripts/process_product_data.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-tests

finalize scripts with readme for excel exporter
  backend/app/scripts/README.md
  backend/app/scripts/README_FR.md
  backend/app/scripts/export_computed_data_to_excel.py
  backend/app/scripts/extract_egg_products.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-tests

parse product name and generic name for quantity
  backend/app/business/open_food_facts/egg_quantity_calculator.py
Due: backend-tests

enhanced quantity detection from quantity and names
  backend/app/business/open_food_facts/egg_quantity_calculator.py
Due: backend-tests

parse ingredients instead of categories tags
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/tests/conftest.py
Due: backend-tests

added a test for product name with quantity
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

Fix/prioritize egg count over product weight while parsing (#214)
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

added function to identify fresh chicken eggs
  backend/app/business/open_food_facts/breeding_type_calculator.py
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/business/open_food_facts/product_type_calculator.py
  backend/app/config/exceptions.py
  backend/app/enums/open_food_facts/breeding_type_enums.py
  backend/app/enums/open_food_facts/egg_quantity_enums.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/enums/open_food_facts/product_type_enums.py
Due: backend-tests

added tests
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

Feat/identify fresh chicken eggs (#215)
  backend/app/business/open_food_facts/breeding_type_calculator.py
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/business/open_food_facts/product_type_calculator.py
  backend/app/config/exceptions.py
  backend/app/enums/open_food_facts/breeding_type_enums.py
  backend/app/enums/open_food_facts/egg_quantity_enums.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/enums/open_food_facts/product_type_enums.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
