Repository dataforgoodfr/13_empreinte_souffrance: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, backend-tests, frontend-tests

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix frontend run format "${@#*/}"'' --
  
    '

backend-tests:
  name: Backend tests
  entry: bash -c "cd backend && uv run pytest -xvs"
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend tests
  entry: bash -c "cd frontend && npm test -- --passWithNoTests"
  language: system
  pass_filenames: false
  stages:
  - pre-push

replacement of tailwind styles for text and bg colors in calculator page
  frontend/app/[locale]/calculator/calculator-link-section.tsx
Due: frontend-tests

fix background update on hover with new color css variables
  frontend/app/[locale]/calculator/calculator-link-section.tsx
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/ui/general/footer.tsx
  frontend/app/[locale]/ui/general/home-page/go-further-section.tsx
  frontend/app/[locale]/ui/general/home-page/link-section.tsx
  frontend/app/[locale]/ui/general/home-page/pain-equation-section.tsx
  frontend/app/actions/share-actions.tsx
Due: frontend-tests

remove unused var
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
Due: frontend-tests

modifiing existing table to fit figma
  frontend/app/[locale]/methodology/page.tsx
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/ui/general/pain_track_suffering.tsx
Due: frontend-tests

Color styles standardization (#140)
  frontend/app/[locale]/calculator/calculator-hero-section.tsx
  frontend/app/[locale]/calculator/calculator-link-section.tsx
  frontend/app/[locale]/generique-component.tsx
  frontend/app/[locale]/methodology/animated-afflictions.tsx
  frontend/app/[locale]/methodology/global-suffering-figure.tsx
  frontend/app/[locale]/methodology/introduction-section.tsx
  frontend/app/[locale]/methodology/key-results-section.tsx
  frontend/app/[locale]/methodology/list-of-affition.tsx
  frontend/app/[locale]/methodology/method-details-section.tsx
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/methodology/suffering-quantification-steps.tsx
  frontend/app/[locale]/off/page.tsx
  frontend/app/[locale]/ui/calculator-select-item.tsx
  frontend/app/[locale]/ui/general/content-with-image-section.tsx
  frontend/app/[locale]/ui/general/elements/nav-links.tsx
  frontend/app/[locale]/ui/general/footer.tsx
  frontend/app/[locale]/ui/general/heroBanner.tsx
  frontend/app/[locale]/ui/general/home-page/WFI-article-section.tsx
  frontend/app/[locale]/ui/general/home-page/book-announcement-section.tsx
  frontend/app/[locale]/ui/general/home-page/elements/section-heading.tsx
  frontend/app/[locale]/ui/general/home-page/go-further-section.tsx
  frontend/app/[locale]/ui/general/home-page/hero-section.tsx
  frontend/app/[locale]/ui/general/home-page/link-section.tsx
  frontend/app/[locale]/ui/general/home-page/pain-equation-section.tsx
  frontend/app/[locale]/ui/general/home-page/results-section.tsx
  frontend/app/[locale]/ui/general/home-page/suffering-causes-section.tsx
  frontend/app/[locale]/ui/general/navbar.tsx
  frontend/app/[locale]/ui/icons/BoltIcon.tsx
  frontend/app/[locale]/ui/localselect.tsx
  frontend/app/actions/share-actions.tsx
  frontend/app/error.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/not-found.tsx
Due: frontend-tests

fixing left legend
  frontend/app/[locale]/methodology/page.tsx
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/ui/general/pain_track_suffering.tsx
Due: frontend-tests

creation of button link component + refactoring of components with buttons
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/ui/general/elements/custom-link-button.tsx
  frontend/app/[locale]/ui/general/footer.tsx
  frontend/app/[locale]/ui/general/home-page/go-further-section.tsx
Due: frontend-tests

creation of suffering stages description component + refactoring of components with suffering stages
  frontend/app/[locale]/methodology/suffering-quantification-steps.tsx
  frontend/app/[locale]/ui/general/elements/custom-link-button.tsx
  frontend/app/[locale]/ui/general/elements/suffering-stages-description.tsx
  frontend/app/[locale]/ui/general/home-page/pain-equation-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

css class improvement for suffering-stages-description.tsx
  frontend/app/[locale]/ui/general/elements/suffering-stages-description.tsx
Due: frontend-tests

creation of suffering-synthesis-duration-table.tsx component + refactoring of components
  frontend/app/[locale]/methodology/animated-afflictions.tsx
  frontend/app/[locale]/methodology/global-suffering-figure.tsx
  frontend/app/[locale]/methodology/suffering-quantification-steps.tsx
  frontend/app/[locale]/ui/general/elements/suffering-stages-description.tsx
  frontend/app/[locale]/ui/general/methodology/elements/suffering-synthesis-duration-table.tsx
  frontend/locales/fr.ts
Due: frontend-tests

creation of suffering-synthesis-duration-rows.tsx component + refactoring of components
  frontend/app/[locale]/methodology/key-results-section.tsx
  frontend/app/[locale]/methodology/suffering-quantification-steps.tsx
  frontend/app/[locale]/ui/general/methodology/elements/suffering-synthesis-duration-rows.tsx
Due: frontend-tests

renaming of button link component
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/ui/general/elements/button-link.tsx
  frontend/app/[locale]/ui/general/footer.tsx
  frontend/app/[locale]/ui/general/home-page/go-further-section.tsx
Due: frontend-tests

fixing legend position on pain track table
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/ui/general/pain_track_suffering.tsx
Due: frontend-tests

fix legend for pain-track table and translation managed
  frontend/app/[locale]/ui/general/pain_track_suffering.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

Chore/components refactoring (#142)
  frontend/app/[locale]/methodology/animated-afflictions.tsx
  frontend/app/[locale]/methodology/global-suffering-figure.tsx
  frontend/app/[locale]/methodology/key-results-section.tsx
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/methodology/suffering-quantification-steps.tsx
  frontend/app/[locale]/ui/general/elements/button-link.tsx
  frontend/app/[locale]/ui/general/elements/suffering-stages-description.tsx
  frontend/app/[locale]/ui/general/footer.tsx
  frontend/app/[locale]/ui/general/home-page/go-further-section.tsx
  frontend/app/[locale]/ui/general/home-page/pain-equation-section.tsx
  frontend/app/[locale]/ui/general/methodology/elements/suffering-synthesis-duration-rows.tsx
  frontend/app/[locale]/ui/general/methodology/elements/suffering-synthesis-duration-table.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

create classes EggWeightCalculator and Eggsize
  backend/app/business/open_food_facts/egg_weight_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

change egg_weight_calculator to generic quantity_calculator
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

move and rename egg calibe class for clarity
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

switch egg weight calculator to egg quantity calculator
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

switch to full output EggQuantity whith count size and weight for all egg quantity calculation methods
  backend/app/business/open_food_facts/quantity_calculator.py
Due: backend-tests

extract EggQuantityCalculator from quantity_calculator to isolate business logic
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

Refactor/switch from egg weight calculator to quantity calculator (#137)
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/egg_weight_calculator.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

restore translation for 0 second of pain
  backend/app/locales/en/LC_MESSAGES/messages.po
  backend/app/locales/fr/LC_MESSAGES/messages.po
Due: none

restore translation for 0 second of pain in knowledge panel (#153)
  backend/app/locales/en/LC_MESSAGES/messages.po
  backend/app/locales/fr/LC_MESSAGES/messages.po
Due: none

merging fixed
  frontend/app/[locale]/methodology/page.tsx
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/ui/general/pain_track_suffering.tsx
Due: frontend-tests

fixing left legend
  frontend/app/[locale]/methodology/page.tsx
  frontend/app/[locale]/ui/general/pain_track_suffering.tsx
Due: frontend-tests

fixing legend position on pain track table
  frontend/app/[locale]/ui/general/pain_track_suffering.tsx
Due: frontend-tests

merging and fixing marge issues
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/ui/general/pain_track_suffering.tsx
Due: frontend-tests

association_presentation_section created. Some issue with global CSS
  frontend/app/[locale]/about/_section/association-presentation-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

chore style for button
  frontend/app/globals.css
Due: none

usage of projects css classes for colors
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
Due: frontend-tests

prevent text from wrapping and overlapping on the table
  frontend/app/[locale]/ui/general/pain_track_suffering.tsx
Due: frontend-tests

renamed pain_track_suffering.tsx to pain-track-suffering.tsx
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/ui/general/pain-track-suffering.tsx
Due: frontend-tests

moving last unsorted component
  frontend/app/[locale]/methodology/_components/animated-afflictions.tsx
  frontend/app/[locale]/methodology/_components/global-suffering-figure.tsx
Due: frontend-tests

Fix/pain track figure (#165)
  frontend/app/[locale]/methodology/page.tsx
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/ui/general/pain-track-suffering.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

Add the cache system
  backend/app/api/open_food_facts/routes.py
  backend/app/config/cache.py
  backend/tests/app/api/open_food_facts/test_routes.py
Due: backend-tests

Split unit tests containing ifs
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

Allow pain reports with missing data and handle missing data in the knowledge panel
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/schemas/open_food_facts/internal.py
Due: backend-tests

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
