Repository dataforgoodfr/13_empreinte_souffrance: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, backend-tests, frontend-tests

.pre-commit-config.yaml:

default_stages: ['pre-commit']
fail_fast: false

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Backend hooks
  # Ruff (as linter, formatter and import organizer)
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff-format
        args: ["--line-length=120"]
        files: ^backend/.*\.py$
      - id: ruff
        args: ["--fix", "--line-length=120", "--select=E,F,I"]
        files: ^backend/.*\.py$

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        files: ^backend/.*\.py$
        additional_dependencies:
          - fastapi
          - pydantic
          - types-requests

  # Frontend hooks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.23.0
    hooks:
      - id: eslint
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        additional_dependencies:
          - eslint@9.23.0
          - eslint-plugin-react@7.33.2
          - eslint-plugin-react-hooks@4.6.0
          - eslint-config-next@13.4.19
          - typescript@5.1.6
          - '@typescript-eslint/eslint-plugin@6.4.0'
          - '@typescript-eslint/parser@6.4.0'
        args:
          - --fix
          - --config
          - frontend/eslint.config.mjs

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix frontend run format "${@#*/}"' --

  # Tests hooks
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend tests
        entry: bash -c "cd backend && uv run pytest -xvs"
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: ['pre-push']

      - id: frontend-tests
        name: Frontend tests
        entry: bash -c "cd frontend && npm test -- --passWithNoTests"
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        stages: ['pre-push']

added notebook
  .pre-commit-config.yaml
  .prettierignore
  analysis/neural_category_predictions/250604_potion.ipynb
Due: none

merge avec source
  analysis/neural_category_predictions/250604_potion.ipynb
  analysis/neural_category_predictions/scripts/load_dataset.py
  analysis/neural_category_predictions/scripts/potion-base-8M.py
Due: none

.gitignore ignore ipynb and csv files in root
  .gitignore
Due: none

merge
  backend/app/business/open_food_facts/egg_weight_calculator.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/tests/conftest.py
Due: backend-tests

fix: changes according to the PR review
  backend/app/business/open_food_facts/egg_weight_calculator.py
Due: backend-tests

Added a function parsing wuantity to estimate a whole number of eggs
  backend/app/business/open_food_facts/egg_weight_calculator.py
  backend/app/schemas/open_food_facts/external.py
Due: backend-tests

removed buggy int conversion line
  backend/app/business/open_food_facts/egg_weight_calculator.py
Due: backend-tests

Removed warning from tests: mock_response.raise_for_status should be Mock, not AsyncMock
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

Restored calculate_egg_weight
  backend/app/business/open_food_facts/egg_weight_calculator.py
Due: backend-tests

Propagated non_egg_pack case to calculate_egg_number
  backend/app/schemas/open_food_facts/external.py
Due: backend-tests

add component on page.tsx && creation of the LinkSection section with responsive display and proportional links
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/ui/general/home-page/link-section.tsx
Due: frontend-tests

added translation of the link-section component
  frontend/app/[locale]/ui/general/home-page/link-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

creation of a reusable component with 2 buttons for the footer
  frontend/app/[locale]/ui/general/home-page/elements/btn-imprint-suffering.tsx
Due: frontend-tests

replacement of the current Navbar with that of the model while keeping the translation button
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/ui/general/navbar.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

added responsive and clear components of the page.tsx file
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/ui/general/home-page/elements/btn-imprint-suffering.tsx
  frontend/app/[locale]/ui/general/navbar.tsx
  frontend/app/[locale]/ui/localselect.tsx
Due: frontend-tests

feat: add responsive footer including social media links
  frontend/app/[locale]/ui/general/footer.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/public/logo_data_for_good.png
Due: frontend-tests

Feat: add Book Announcement section to homepage (#68)
  frontend/app/[locale]/ui/general/home-page/book-announcement-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/public/book-cover-quantifying-pain.png
Due: frontend-tests

Feat/link section (#69)
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/ui/general/home-page/link-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

add calcator btn && css
  frontend/app/[locale]/ui/general/home-page/elements/btn-imprint-suffering.tsx
  frontend/app/[locale]/ui/general/navbar.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

Feat/hero section (#67)
  frontend/app/[locale]/ui/general/home-page/WFI-section.tsx
  frontend/app/[locale]/ui/general/home-page/call-to-action-section.tsx
  frontend/app/[locale]/ui/general/home-page/hero-section.tsx
  frontend/app/[locale]/ui/general/home-page/human-food-section.tsx
  frontend/app/[locale]/ui/general/home-page/methodology-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/public/arrow_down.png
  frontend/public/chicken_header.png
Due: frontend-tests

resolve conflit to local for en.ts & fr.ts files
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

clean every unsued pages or components
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/act-now/page.tsx
  frontend/app/[locale]/calculator/page.tsx
  frontend/app/[locale]/chicken-life/page.tsx
  frontend/app/[locale]/figures/page.tsx
  frontend/app/[locale]/legal-notice/page.tsx
  frontend/app/[locale]/methodology/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/science/page.tsx
  frontend/app/[locale]/ui/general/home-page/WFI-section.tsx
  frontend/app/[locale]/ui/general/home-page/call-to-action-section.tsx
  frontend/app/[locale]/ui/general/home-page/human-food-section.tsx
  frontend/app/[locale]/ui/general/home-page/methodology-section.tsx
Due: frontend-tests

add a link to redirect to the about page
  frontend/app/[locale]/ui/general/navbar.tsx
Due: frontend-tests

correction of space text
  frontend/app/[locale]/ui/general/home-page/WFI-article-section.tsx
Due: frontend-tests

fix responcive css
  frontend/app/[locale]/ui/general/navbar.tsx
Due: frontend-tests

Feat/nav bar (#72)
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/ui/general/home-page/elements/btn-imprint-suffering.tsx
  frontend/app/[locale]/ui/general/navbar.tsx
  frontend/app/[locale]/ui/localselect.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

feat: add responsive footer including social media links (#73)
  frontend/app/[locale]/ui/general/footer.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/public/logo_data_for_good.png
Due: frontend-tests

clean every unsued pages or components (#74)
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/act-now/page.tsx
  frontend/app/[locale]/calculator/page.tsx
  frontend/app/[locale]/chicken-life/page.tsx
  frontend/app/[locale]/figures/page.tsx
  frontend/app/[locale]/legal-notice/page.tsx
  frontend/app/[locale]/methodology/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/science/page.tsx
  frontend/app/[locale]/ui/general/home-page/WFI-section.tsx
  frontend/app/[locale]/ui/general/home-page/call-to-action-section.tsx
  frontend/app/[locale]/ui/general/home-page/human-food-section.tsx
  frontend/app/[locale]/ui/general/home-page/methodology-section.tsx
Due: frontend-tests

Update page.tsx
  frontend/app/[locale]/page.tsx
Due: frontend-tests

Feat/article section (#76)
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/ui/general/home-page/WFI-article-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
  frontend/public/wfi_article.jpg
  frontend/public/wfi_article_figure.png
Due: frontend-tests

fixing navbar css issues
  frontend/app/[locale]/ui/general/navbar.tsx
Due: frontend-tests

fix language selector css
  frontend/app/[locale]/ui/localselect.tsx
Due: frontend-tests

fix language selector css (#77)
  frontend/app/[locale]/ui/localselect.tsx
Due: frontend-tests

installing usePath style on navlinks
  frontend/app/[locale]/ui/general/elements/btn-imprint-suffering.tsx
  frontend/app/[locale]/ui/general/elements/nav-links.tsx
  frontend/app/[locale]/ui/general/footer.tsx
  frontend/app/[locale]/ui/general/navbar.tsx
  frontend/app/globals.css
Due: frontend-tests

fix logo padding for navbar height
  frontend/app/[locale]/ui/general/home-page/elements/btn-imprint-suffering.tsx
Due: frontend-tests

fix css for link to footer
  frontend/app/[locale]/ui/general/footer.tsx
Due: frontend-tests

fix trad for logo
  frontend/locales/en.ts
Due: frontend-tests

fix the logo-walfare-footprint component
  frontend/app/[locale]/ui/general/footer.tsx
  frontend/app/[locale]/ui/general/home-page/elements/btn-imprint-suffering.tsx
  frontend/app/[locale]/ui/general/home-page/elements/logo-walfare-footprint.tsx
  frontend/app/[locale]/ui/general/navbar.tsx
  frontend/locales/en.ts
Due: frontend-tests

added ink in WFI-article-section.tsx && click on the arrow && an attribute in the global css to have smooth scrolling
  frontend/app/[locale]/ui/general/home-page/WFI-article-section.tsx
  frontend/app/[locale]/ui/general/home-page/hero-section.tsx
  frontend/app/globals.css
Due: frontend-tests
