Repository dataforgoodfr/13_empreinte_souffrance: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, backend-tests, frontend-tests

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix frontend run format "${@#*/}"'' --
  
    '

backend-tests:
  name: Backend tests
  entry: bash -c "cd backend && uv run pytest -xvs"
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend tests
  entry: bash -c "cd frontend && npm test -- --passWithNoTests"
  language: system
  pass_filenames: false
  stages:
  - pre-push

Feat/thanking section (#181)
  frontend/app/[locale]/about/_sections/association-presentation-section.tsx
  frontend/app/[locale]/about/_sections/thanking_section.tsx
  frontend/app/[locale]/about/_sections/why_name_section.tsx
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/calculator/_sections/calculator-hero-section.tsx
  frontend/app/[locale]/calculator/_sections/calculator-link-section.tsx
  frontend/app/[locale]/calculator/_sections/calculator-selector-section.tsx
  frontend/app/[locale]/calculator/page.tsx
  frontend/app/[locale]/home/_sections/WFI-article-section.tsx
  frontend/app/[locale]/home/_sections/book-announcement-section.tsx
  frontend/app/[locale]/home/_sections/hero-section.tsx
  frontend/app/[locale]/home/_sections/pain-equation-section.tsx
  frontend/app/[locale]/home/_sections/results-section.tsx
  frontend/app/[locale]/layout.tsx
  frontend/app/[locale]/methodology/_sections/introduction-section.tsx
  frontend/app/[locale]/methodology/_sections/key-results-section.tsx
  frontend/app/[locale]/methodology/_sections/method-details-section.tsx
  frontend/app/[locale]/methodology/_sections/suffering-quantification-steps-section.tsx
  frontend/app/[locale]/methodology/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/ui/_sections/footer.tsx
  frontend/app/[locale]/ui/_sections/go-further-section.tsx
  frontend/app/[locale]/ui/_sections/link-section.tsx
  frontend/app/[locale]/ui/_sections/navbar.tsx
  frontend/app/[locale]/ui/_sections/section-heading.tsx
  frontend/app/[locale]/ui/_sections/suffering-causes-section.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Due: frontend-tests

fix page test backend
  frontend/app/[locale]/off/knowledge_panel.css
  frontend/app/[locale]/off/page.tsx
Due: frontend-tests

fix page test backend (#186)
  frontend/app/[locale]/off/knowledge_panel.css
  frontend/app/[locale]/off/page.tsx
Due: frontend-tests

fix egg calibers weights
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
Due: backend-tests

fix egg calibers weights (#187)
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
Due: backend-tests

make count and weight mandatory in class EggCaliber
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

return caliber as None in EggQuantity when not found
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

fix egg quantity calculator docstrings
  backend/app/business/open_food_facts/egg_quantity_calculator.py
Due: backend-tests

round egg weights in grams
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

fix int of round quantity
  backend/app/business/open_food_facts/egg_quantity_calculator.py
Due: backend-tests

download parquet from OFF database before extracting new csv file
  .gitignore
  analysis/scripts/250614_13_es_parquet_db_to_csv.ipynb
  analysis/scripts/compute_from_db_calculator_and_OCR.ipynb
  analysis/scripts/export_computed_data_to_excel.ipynb
  analysis/scripts/parquet_db_to_csv.ipynb
Due: none

delete notebook outputs and change max size to 20 MO for .csv and .jsonl
  .pre-commit-config.yaml
  analysis/README.md
  analysis/README_FR.md
  analysis/scripts/compute_from_db_calculator_and_OCR.ipynb
  analysis/scripts/parquet_db_to_csv.ipynb
Due: none

Fix/ Make count and weight mandatory in EggQuantity class (#188)
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

update docstring for UnitPainLoader
  backend/app/business/open_food_facts/unit_pain_loader.py
Due: backend-tests

remove useless alias PainPerProductUnit
  backend/app/business/open_food_facts/unit_pain_loader.py
Due: backend-tests

fix test
  backend/app/business/open_food_facts/unit_pain_loader.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

add pain per egg from csv loader
  backend/app/business/open_food_facts/data/pain_data.csv
  backend/app/business/open_food_facts/unit_pain_loader.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

Store unit pain as csv with loader (#183)
  backend/app/business/open_food_facts/data/pain_data.csv
  backend/app/business/open_food_facts/unit_pain_loader.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

fix test
  backend/app/business/open_food_facts/unit_pain_loader.py
Due: backend-tests

compute full EggQuantity with unit pain per egg in pain report calculator
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/schemas/open_food_facts/internal.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

remove time_in_pain as a dictionnary from enums
  backend/app/enums/open_food_facts/enums.py
Due: backend-tests

fix merge
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Due: backend-tests

fix ProductQuantity
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
Due: backend-tests

reset docstring
  backend/app/business/open_food_facts/pain_report_calculator.py
Due: backend-tests

fix calculate_time_in_pain_for_animal_with_type
  backend/app/business/open_food_facts/pain_report_calculator.py
Due: backend-tests

fix quantity calculator docstring
  backend/app/business/open_food_facts/quantity_calculator.py
Due: backend-tests

fix test_get_breeding_types_and_quantities
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

fix casting breeding type and quantity before computing pain
  backend/app/business/open_food_facts/pain_report_calculator.py
Due: backend-tests

fix english time messages
  backend/app/locales/en/LC_MESSAGES/messages.po
Due: none

feat/add specific display for eggs in knowledge panel with number and caliber
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/enums/open_food_facts/panel_texts.py
  backend/app/locales/en/LC_MESSAGES/messages.po
  backend/app/locales/fr/LC_MESSAGES/messages.po
Due: backend-tests

feature(header): change header logo and some header fix
  frontend/app/[locale]/layout.tsx
  frontend/app/[locale]/ui/_components/logo-walfare-footprint.tsx
  frontend/app/[locale]/ui/_sections/navbar.tsx
  frontend/app/[locale]/ui/logo/EmpreinteSouffrance.tsx
  frontend/app/globals.css
Due: frontend-tests

fix/add barcodes to test page
  frontend/app/[locale]/off/page.tsx
Due: frontend-tests

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
