Repository dataforgoodfr/13_empreinte_souffrance: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, backend-tests, frontend-tests

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix frontend run format "${@#*/}"'' --
  
    '

backend-tests:
  name: Backend tests
  entry: bash -c "cd backend && uv run pytest -xvs"
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend tests
  entry: bash -c "cd frontend && npm test -- --passWithNoTests"
  language: system
  pass_filenames: false
  stages:
  - pre-push

Update status — 2026-05-15 11:52 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 12:27 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 13:09 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 13:52 UTC
  data/status.json
Due: app-prettier

margin fixes
  backend/app/business/open_food_facts/html_templates/en/about_the_project.html
  backend/app/business/open_food_facts/html_templates/en/complete_footprint.html
  backend/app/business/open_food_facts/html_templates/en/complete_footprint_with_code.html
  backend/app/business/open_food_facts/html_templates/fr/about_the_project.html
  backend/app/business/open_food_facts/html_templates/fr/complete_footprint.html
  backend/app/business/open_food_facts/html_templates/fr/complete_footprint_with_code.html
Due: none

Update status — 2026-05-15 14:43 UTC
  data/status.json
Due: app-prettier

create global client
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/config/http_client.py
  backend/app/main.py
Due: backend-tests

update tests
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

fix
  backend/app/config/cache.py
  backend/app/config/http_client.py
Due: backend-tests

fix cache for mypy
  backend/app/config/cache.py
Due: backend-tests

test fix
  backend/app/config/cache.py
Due: backend-tests

Create a global client for OFF API (#314)
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/config/cache.py
  backend/app/config/http_client.py
  backend/app/main.py
  backend/tests/app/api/open_food_facts/test_routes.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Due: backend-tests

feat: add batch knowledge panel endpoint
  backend/app/api/open_food_facts/routes.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/schemas/open_food_facts/internal.py
Due: backend-tests

feat: add batch knowledge panel endpoint
  backend/app/api/open_food_facts/routes.py
  backend/tests/app/api/open_food_facts/test_routes.py
Due: backend-tests

merge fixes
  backend/app/api/open_food_facts/routes.py
  backend/app/business/open_food_facts/knowledge_panel.py
Due: backend-tests

Update status — 2026-05-15 15:31 UTC
  data/status.json
Due: app-prettier

merge fixes for tests
  backend/tests/app/api/open_food_facts/test_routes.py
Due: backend-tests

Feat/painreportlist endpoint (#315)
  backend/app/api/open_food_facts/routes.py
  backend/app/business/open_food_facts/knowledge_panel.py
  backend/app/schemas/open_food_facts/internal.py
  backend/tests/app/api/open_food_facts/test_routes.py
Due: backend-tests

Update status — 2026-05-15 16:16 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 16:58 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 17:38 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 18:11 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 18:49 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 19:22 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 19:57 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 20:33 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 20:57 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 21:27 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 21:50 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 22:13 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 22:36 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 23:00 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 23:26 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-15 23:47 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-16 00:09 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-16 01:06 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-16 01:49 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-16 02:51 UTC
  data/status.json
Due: app-prettier

Update status — 2026-05-16 04:09 UTC
  data/status.json
Due: app-prettier

Path conditions:
  app-prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.json$ and not (.*(\.ipynb|\.csv)$)
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
